{% load static %}
<!DOCTYPE html>
<html>
<head>
	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"> -->
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <h3>Dr. Mahmoud El-Gafy</h3>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
          
          <li class="nav-item"><a href="/add_patient" class="nav-link">Add Patient</a></li>
        </ul>   
      </div>
    </div>
  </nav>
  <div class="wrapper">
    
  </div>
  {% block content %}
  {% endblock %}
  {% comment %} <footer>
    <div class="made-with-love bg-info text-center">&copy; Sendoo 2022 | Made with <i>&hearts;</i> by Eng. Mohamed Gamal 01027005313 Abo Youssef</div>
  </footer> {% endcomment %}
  {% include "footer.html" %}
</body>
</html>